@media (max-width: 1368px) and (orientation: landscape) {
    div.end {
      margin-top: 400px;
      color: black;
    }
  }

@media (max-width: 1368px) and (orientation: portrait){
      div.end {
        margin-top: 400px;
        color: black;
      }
    }

@media (min-width: 320px) and (max-width: 771px)  {
div.end {
<<<<<<< HEAD
  margin-top: 980px;
=======
  margin-top: 200px;
>>>>>>> 21b5d5ecbdbc69c39c7c42b8dd313cfbdc2ccf06
  color: black;
}
}
@media (min-width: 1369px) and (max-width: 1440px) {
div.end {
  margin-top: 400px;
  color: black;
}
}
